<div id='vote_error' class="alert alert-error span12" style='display: none' data-dismiss="alert">   
  <p>You can only vote once.</p>
</div>

<div id='vote_success' class="alert alert-success span12" style='display: none' data-dismiss="alert">    
  <p>Your vote was counted.</p>
</div>